/* pagination style */
.pagin {
padding: 2px 0;
margin: 0;
font-family: 'Titillium Web', sans-serif !important;
font-size: 7pt !important;
font-weight: bold !important;
}
.pagin * {
padding: 2px 6px ;
margin: 0;
}
.pagin a {
border: solid 1px #1289FE !important;
background-color: #EFEFEF !important;
color: #1289FE !important;
text-decoration: none;
}
.pagin a:visited {
border: solid 1px #1289FE !important;
background-color: #EFEFEF !important;
color: #60606F !important;
text-decoration: none;
}
.pagin a:hover, .pagin a:active {
border: solid 1px #CC0000 !important;
background-color: white !important;
color: #CC0000 !important;
text-decoration: none !important;
}
.pagin span {
cursor: default;
border: solid 1px #808080 !important;
background-color: #F0F0F0 !important;
color: #B0B0B0 !important;
}
.pagin span.current {
border: solid 1px #1289FE !important;;
background-color: #1289FE !important;;
color: white !important;
}
.pagin span{
	font-size:7pt !important;
}