@media all {
    .page-break  { display:none; }
    .divider {
		border: 1px solid #000000;
	}
}

@media print {        
    body {
        margin: 5mm 5mm 5mm 5mm !important;
        line-height: 1.2em;
        word-spacing: 1px;
        letter-spacing: 3px;
        font: 11.5px calibri !important;
        color: #000;       
        background-color:#FFF !important;
    }
    #wrapper { margin-top: 0px!important;  }
    .page-break  { display:block; page-break-before:always; }
    .show-div{ display: block; }
    .noprint { display: none; }
    .lBottom { margin: 5px 0 5px 0; }
    .lBottom2{ margin: 0 0 5px 0; }
    .table { border: none !important; }
    .txtBox{ width: 99%; height: 60px; border: 1px solid #000; }
    .divider { border: 1px solid #000000;}
}

@media screen {
    .footer {
        bottom: 20px;
    }

    body{
        margin-bottom: 30px;
    }
}